* {
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
    /* border: 1px solid yellow; */
  }
  ::selection {
    background-color: #dda01f;
    color: white;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: white;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
    background-color: white;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #dda01f;
    background-image: -webkit-linear-gradient(90deg,
        #dda01f 25%,
        transparent 25%,
        transparent 50%,
        #dda01f 50%,
        #dda01f 75%,
        transparent 75%,
        transparent)
  }
  .sec1{
    background-image: url("./Assets/banner-2.jpg");
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .progress1{
    display: none !important;
  }
  .progress2{
    display: block !important;
  }
  
  .head-text{
    color: #C99B20;
     margin-bottom: 0 !important;
  }
  .nlogo{
  width: 200px;
  height: 200px;
}
  .nav>li {
    padding-left: 10px;
    padding-bottom: 7px;
  }
  
  .menu {
    margin-right: 90px;
    height: 150px;
  }
  
  .nav>li>a {
    text-decoration: none;
    color: white;
  
  }
  
  .fa-solid {
    margin-left: 10px;
  }
  
  .span {
    position: relative;
    visibility: hidden;
    margin-right: 9px;
  }
  
  .nav>li:hover>a>.span {
    visibility: visible;
  }
  
  .nav>li:hover>.fa-solid {
    transform: rotate(180deg);
    transition: all 0.35s ease-out;
  }
  
  #com2 {
    position: relative;
  }
  
  .dp1 {
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
    border: 1px solid #222528;
    background-color: #222528;
    color: white;
    list-style-type: none;
    padding: 10px 0px 20px 0px;
    border-radius: 3%;
    display: none;
    width: 200px;
  
  
  }
  
  .dp1>li {
    padding: 10px 5px 10px 3px;
    text-align: left;
    width: 100%;
    border-left: 4px solid #C99B20;
    margin-top: 3px;
    background: linear-gradient(to left, #222528 50%, #C99B20 50%) right;
    transition: .5s ease-out;
    display: inline-block;
    color: white;
    background-size: 200%;
    transition: .5s ease-out;
  }
  
  .dp1>li:hover {
    cursor: pointer;
    background-position: left;
  }
  
  .dp1>li>span>a {
    text-decoration: none;
  }
  
  
  .menu .nav #com2:hover>.dp1 {
    display: block;
  }
  
  #com3 {
    position: relative;
  }
  
  .dp2 {
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
    border: 1px solid #222528;
    background-color: #222528;
    color: white;
    list-style-type: none;
    width: 200px;
    padding: 10px 0px 10px 0px;
    border-radius: 3%;
    display: none;
  
  }
  
  .dp2>li {
    padding: 10px 5px 10px 3px;
    text-align: left;
    width: 100%;
    border-left: 4px solid #C99B20;
    margin-top: 3px;
    background: linear-gradient(to left, #222528 50%, #C99B20 50%) right;
    transition: .5s ease-out;
    display: inline-block;
    color: white;
    background-size: 200%;
    transition: .5s ease-out;
  }
  
  .dp2>li:hover {
    cursor: pointer;
    background-position: left;
  }
  
  .dp2>li>span>a {
    text-decoration: none;
  }
  
  .menu .nav #com3:hover>.dp2 {
    display: block;
  }
  
  #com4 {
    position: relative;
  }
  
  .dp3 {
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
    border: 1px solid #222528;
    background-color: #222528;
    color: white;
    width: 100%;
    list-style-type: none;
    padding: 20px 0px 20px 0px;
    border-radius: 3%;
    display: none;
  
  
  }
  
  .dp3 {
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
    border: 1px solid #222528;
    background-color: #222528;
    color: white;
    list-style-type: none;
    width: 200px;
    padding: 10px 0px 10px 0px;
    border-radius: 3%;
    display: none;
  
  }
  
  .dp3>li {
    padding: 10px 5px 10px 3px;
    text-align: left;
    width: 100%;
    border-left: 4px solid #C99B20;
    margin-top: 3px;
    background: linear-gradient(to left, #222528 50%, #C99B20 50%) right;
    transition: .5s ease-out;
    display: inline-block;
    color: white;
    background-size: 200%;
    transition: .5s ease-out;
  }
  
  .dp3>li:hover {
    cursor: pointer;
    background-position: left;
  }
  
  
  .menu .nav #com4:hover>.dp3 {
    display: block;
  }
  .b-btn{
    border: 1px solid rgb(207, 201, 201) !important;
  }
 
  .b-btn:hover{
    border: 1px solid #C99B20 !important;
    color: #C99B20 !important;
  }
  .swiper-button-next::after,
.swiper-button-prev::after {
  color: white;
  font-size: 10px;
  font-weight: bold;
  border: 1px solid black;
  background-color: black;
  opacity: 0.3;
  padding: 7px 8px;
  border-radius: 50%;
  margin-top: 30px;
  text-align: center;
}
footer {
  height: 90vh;
  background-color: #222528;
  background: url("./Assets/map-location-2.png"), #222528;
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.quick-links {
  list-style-image: url("./Assets/angle-f.png");
}

.quick-links>li>span {
  vertical-align: super;
}

.three {
  list-style-image: url("./Assets/tick.png");
}

.three>span {
  vertical-align: super;
}

.angle {
  list-style-image: url("./Assets/angle-f.png");
}

.angle>span {
  vertical-align: super;
}

.f-yellow>span {
  color: white;
}

.f-yellow>span:hover {
  cursor: pointer;
  color: #C99B20;
  transition: all 0.3s ease-in-out
}
.chat{
 
  top: 91%;
  left: 1%;
  z-index: 3;
}
.chat >img{
  width: 65%;
  padding: 10px;
  background-color: #C99B20;

}
.message{
  top: 94%;
  background-color: #C99B20;
  right: 4%;
  padding: 10px 90px 10px 5px;
  z-index: 2;
}
@media screen and (max-width:600px){
  .sec1{
    background-image: url("./Assets/banner-2.jpg");
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .progress2{
    display: none !important;
  }
  .progress1{
    display: block !important;
    flex-direction: column;
  }
  .progress1 > ul{
    padding-left: 0 !important;
    list-style: none;
    list-style-position: inside;
  }
  .progress1 > ul > li > span{
    margin-left: 5px;
  }
  .gold-border{
    margin-left: 14px;
    border-left: 3px solid #C99B20;
    padding: 17px 0px;
  }
  .bord{
    margin-left: 14px;
    border-left: 3px solid #F0F0F0;
    padding: 15px 0px;
  }
  .navbar-toggler{
    padding: 0 !important;
  }
  .head-text{
    font-size: 38px !important;
  }
  .menu .nav{
    display: none;
  }
  .nlogo{
    width: 120px;
    height: 120px;
  }
  .nav1>li {
    list-style: none;
    padding-bottom: 15px;
  }
  .nav1>li>a {
    text-decoration: none;
    color: white;
  
  }
  
  .fa-solid {
    margin-left: 10px;
  }
  
  .span {
    position: relative;
    visibility: hidden;
    margin-right: 9px;
  }
  
  .nav1>li:hover>a>.span {
    visibility: visible;
  }
  
  .nav1>li:hover>.fa-solid {
    transform: rotate(180deg);
    transition: all 0.35s ease-out;
  }
  
  #com2 {
    position: relative;
  }
  
  .dp1 {
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
    border: 1px solid #222528;
    background-color: #222528;
    color: white;
    list-style-type: none;
    padding: 10px 0px 20px 0px;
    border-radius: 3%;
    display: none;
    width: 200px;
  
  
  }
  
  .dp1>li {
    padding: 10px 5px 10px 3px;
    text-align: left;
    width: 100%;
    border-left: 4px solid #C99B20;
    margin-top: 3px;
    background: linear-gradient(to left, #222528 50%, #C99B20 50%) right;
    transition: .5s ease-out;
    display: inline-block;
    color: white;
    background-size: 200%;
    transition: .5s ease-out;
  }
  
  .dp1>li:hover {
    cursor: pointer;
    background-position: left;
  }
  
  .dp1>li>span>a {
    text-decoration: none;
  }
  
  
   .nav1 #com2:hover>.dp1 {
    display: block;
  }
  
  #com3 {
    position: relative;
  }
  
  .dp2 {
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
    border: 1px solid #222528;
    background-color: #222528;
    color: white;
    list-style-type: none;
    width: 200px;
    padding: 10px 0px 10px 0px;
    border-radius: 3%;
    display: none;
  
  }
  
  .dp2>li {
    padding: 10px 5px 10px 3px;
    text-align: left;
    width: 100%;
    border-left: 4px solid #C99B20;
    margin-top: 3px;
    background: linear-gradient(to left, #222528 50%, #C99B20 50%) right;
    transition: .5s ease-out;
    display: inline-block;
    color: white;
    background-size: 200%;
    transition: .5s ease-out;
  }
  
  .dp2>li:hover {
    cursor: pointer;
    background-position: left;
  }
  
  .dp2>li>span>a {
    text-decoration: none;
  }
  
   .nav1 #com3:hover>.dp2 {
    display: block;
  }
  
  #com4 {
    position: relative;
  }
  
  .dp3 {
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
    border: 1px solid #222528;
    background-color: #222528;
    color: white;
    width: 100%;
    list-style-type: none;
    padding: 20px 0px 20px 0px;
    border-radius: 3%;
    display: none;
  
  
  }
  
  .dp3 {
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
    border: 1px solid #222528;
    background-color: #222528;
    color: white;
    list-style-type: none;
    width: 200px;
    padding: 10px 0px 10px 0px;
    border-radius: 3%;
    display: none;
  
  }
  
  .dp3>li {
    padding: 10px 5px 10px 3px;
    text-align: left;
    width: 100%;
    border-left: 4px solid #C99B20;
    margin-top: 3px;
    background: linear-gradient(to left, #222528 50%, #C99B20 50%) right;
    transition: .5s ease-out;
    display: inline-block;
    color: white;
    background-size: 200%;
    transition: .5s ease-out;
  }
  
  .dp3>li:hover {
    cursor: pointer;
    background-position: left;
  }
  
  
 .nav1 #com4:hover>.dp3 {
    display: block;
 }


 .slider3{
  margin-top: 20px;
}
.b-car1{
  width: 90%;
}
.rite-btn{
  float: right !important;
  margin-bottom: 15px;
}
.properties{
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.b-icon{
  margin-bottom: 10px;
}
.extra1-m, .extra1-p{
  height: 45px;
  margin-top: 9px;
}
.extra2-m, .extra2-p{
  height: 45px;
  margin-top: 29px;
}
.extra3-m, .extra3-p{
  height: 45px;
  margin-top: 9px;
}
footer {
  height: 225vh;
  background-color: #222528;
  background: url("./Assets/map-location-2.png"), #222528;
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

iframe {
  width: 279.8px;
  height: 230px;
  margin: auto;
  margin-top: 20px;
}
.moto1{
  padding: 25px 12px 0px;
}
.footer-last{
  flex-direction: column;
}
.footer-icons{
  margin-top: 10px
}
.footer-right{
  text-align: center;
  font-size: 14px;
  margin-top: 10px
}
.qlinks{
  margin-top: 15px;
}
.company{
  margin-top: 15px;
  
}
.accept{
  margin-top: 15px;
  
}
.mapf{
  margin-top: 15px;
  
}
}
@media screen and (min-width:601px) and (max-width:768px){
  .sec1{
    background-image: url("./Assets/banner-2.jpg");
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .sec2{
    margin-top: 7px !important;
    width: 85%;
    margin: auto;
  }
  .navbar-toggler{
    padding: 0 !important;
    margin-right: 20px;
  }
  .head-text{
    font-size: 38px !important;
  }
  .menu .nav{
    display: none;
  }
  .nlogo{
    width: 120px;
    height: 120px;
  }
  .nav1>li {
    list-style: none;
    padding-bottom: 15px;
  }
  .nav1>li>a {
    text-decoration: none;
    color: white;
  
  }
  
  .fa-solid {
    margin-left: 10px;
  }
  
  .span {
    position: relative;
    visibility: hidden;
    margin-right: 9px;
  }
  
  .nav1>li:hover>a>.span {
    visibility: visible;
  }
  
  .nav1>li:hover>.fa-solid {
    transform: rotate(180deg);
    transition: all 0.35s ease-out;
  }
  
  #com2 {
    position: relative;
  }
  
  .dp1 {
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
    border: 1px solid #222528;
    background-color: #222528;
    color: white;
    list-style-type: none;
    padding: 10px 0px 20px 0px;
    border-radius: 3%;
    display: none;
    width: 200px;
  
  
  }
  
  .dp1>li {
    padding: 10px 5px 10px 3px;
    text-align: left;
    width: 100%;
    border-left: 4px solid #C99B20;
    margin-top: 3px;
    background: linear-gradient(to left, #222528 50%, #C99B20 50%) right;
    transition: .5s ease-out;
    display: inline-block;
    color: white;
    background-size: 200%;
    transition: .5s ease-out;
  }
  
  .dp1>li:hover {
    cursor: pointer;
    background-position: left;
  }
  
  .dp1>li>span>a {
    text-decoration: none;
  }
  
  
   .nav1 #com2:hover>.dp1 {
    display: block;
  }
  
  #com3 {
    position: relative;
  }
  
  .dp2 {
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
    border: 1px solid #222528;
    background-color: #222528;
    color: white;
    list-style-type: none;
    width: 200px;
    padding: 10px 0px 10px 0px;
    border-radius: 3%;
    display: none;
  
  }
  
  .dp2>li {
    padding: 10px 5px 10px 3px;
    text-align: left;
    width: 100%;
    border-left: 4px solid #C99B20;
    margin-top: 3px;
    background: linear-gradient(to left, #222528 50%, #C99B20 50%) right;
    transition: .5s ease-out;
    display: inline-block;
    color: white;
    background-size: 200%;
    transition: .5s ease-out;
  }
  
  .dp2>li:hover {
    cursor: pointer;
    background-position: left;
  }
  
  .dp2>li>span>a {
    text-decoration: none;
  }
  
   .nav1 #com3:hover>.dp2 {
    display: block;
  }
  
  #com4 {
    position: relative;
  }
  
  .dp3 {
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
    border: 1px solid #222528;
    background-color: #222528;
    color: white;
    width: 100%;
    list-style-type: none;
    padding: 20px 0px 20px 0px;
    border-radius: 3%;
    display: none;
  
  
  }
  
  .dp3 {
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
    border: 1px solid #222528;
    background-color: #222528;
    color: white;
    list-style-type: none;
    width: 200px;
    padding: 10px 0px 10px 0px;
    border-radius: 3%;
    display: none;
  
  }
  
  .dp3>li {
    padding: 10px 5px 10px 3px;
    text-align: left;
    width: 100%;
    border-left: 4px solid #C99B20;
    margin-top: 3px;
    background: linear-gradient(to left, #222528 50%, #C99B20 50%) right;
    transition: .5s ease-out;
    display: inline-block;
    color: white;
    background-size: 200%;
    transition: .5s ease-out;
  }
  
  .dp3>li:hover {
    cursor: pointer;
    background-position: left;
  }
  
  
 .nav1 #com4:hover>.dp3 {
    display: block;
 }
 .pro-2{
  padding: 0 !important;
 }
 .properties{
  flex-direction: row;
  flex-wrap: wrap;
}
.details{
  width: 90%;
  margin: auto;
}
.car-options{
  width: 93%;
  margin: auto;
}
footer {
  height: 140vh;
  background-color: #222528;
  background: url("./Assets/map-location-2.png"), #222528;
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

iframe {
  width: 679.8px;
  height: 230px;
  margin: auto;
  margin-top: 20px;
  padding-left: 20px ;
}
.moto1{
  padding: 25px 12px 0px;
}
.footer-last{
  flex-direction: row;
}
.footer-icons{
  margin-top: 10px
}
.footer-right{
  text-align: center;
  font-size: 14px;
  margin-top: 10px
}
.qlinks{
  margin-top: 15px;
}
.company{
  margin-top: 15px;
}
.accept{
  margin-top: 15px;
}
.mapf{
  margin-top: 15px;
}
}
@media screen and (min-width:769px) and (max-width:1024px){
  .sec1{
    background-image: url("./Assets/banner-2.jpg");
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .nav>li {
    padding-left: 10px;
    padding-bottom: 7px;
  }
  
  .menu {
    margin-right: 35px;
    height: 150px;
  }
  
  .nav>li>a {
    text-decoration: none;
    color: white;
  
  }
  
  .fa-solid {
    margin-left: 10px;
  }
  
  .span {
    position: relative;
    visibility: hidden;
    margin-right: 9px;
  }
  
  .nav>li:hover>a>.span {
    visibility: visible;
  }
  
  .nav>li:hover>.fa-solid {
    transform: rotate(180deg);
    transition: all 0.35s ease-out;
  }
  
  #com2 {
    position: relative;
  }
  
  .dp1 {
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
    border: 1px solid #222528;
    background-color: #222528;
    color: white;
    list-style-type: none;
    padding: 10px 0px 20px 0px;
    border-radius: 3%;
    display: none;
    width: 200px;
  
  
  }
  
  .dp1>li {
    padding: 10px 5px 10px 3px;
    text-align: left;
    width: 100%;
    border-left: 4px solid #C99B20;
    margin-top: 3px;
    background: linear-gradient(to left, #222528 50%, #C99B20 50%) right;
    transition: .5s ease-out;
    display: inline-block;
    color: white;
    background-size: 200%;
    transition: .5s ease-out;
  }
  
  .dp1>li:hover {
    cursor: pointer;
    background-position: left;
  }
  
  .dp1>li>span>a {
    text-decoration: none;
  }
  
  
  .menu .nav #com2:hover>.dp1 {
    display: block;
  }
  
  #com3 {
    position: relative;
  }
  
  .dp2 {
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
    border: 1px solid #222528;
    background-color: #222528;
    color: white;
    list-style-type: none;
    width: 200px;
    padding: 10px 0px 10px 0px;
    border-radius: 3%;
    display: none;
  
  }
  
  .dp2>li {
    padding: 10px 5px 10px 3px;
    text-align: left;
    width: 100%;
    border-left: 4px solid #C99B20;
    margin-top: 3px;
    background: linear-gradient(to left, #222528 50%, #C99B20 50%) right;
    transition: .5s ease-out;
    display: inline-block;
    color: white;
    background-size: 200%;
    transition: .5s ease-out;
  }
  
  .dp2>li:hover {
    cursor: pointer;
    background-position: left;
  }
  
  .dp2>li>span>a {
    text-decoration: none;
  }
  
  .menu .nav #com3:hover>.dp2 {
    display: block;
  }
  
  #com4 {
    position: relative;
  }
  
  .dp3 {
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
    border: 1px solid #222528;
    background-color: #222528;
    color: white;
    width: 100%;
    list-style-type: none;
    padding: 20px 0px 20px 0px;
    border-radius: 3%;
    display: none;
  
  
  }
  
  .dp3 {
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
    border: 1px solid #222528;
    background-color: #222528;
    color: white;
    list-style-type: none;
    width: 200px;
    padding: 10px 0px 10px 0px;
    border-radius: 3%;
    display: none;
  
  }
  
  .dp3>li {
    padding: 10px 5px 10px 3px;
    text-align: left;
    width: 100%;
    border-left: 4px solid #C99B20;
    margin-top: 3px;
    background: linear-gradient(to left, #222528 50%, #C99B20 50%) right;
    transition: .5s ease-out;
    display: inline-block;
    color: white;
    background-size: 200%;
    transition: .5s ease-out;
  }
  
  .dp3>li:hover {
    cursor: pointer;
    background-position: left;
  }
  
  
  .menu .nav #com4:hover>.dp3 {
    display: block;
  }
  .detail-head{
    font-size: 14px !important;
  }
  .detail-sub-head{
    font-size: 16px !important;
  }
  .b-car1{
    width: 100%;
  }
  .properties{
    flex-wrap: wrap;
  }
  footer {
    height: 100vh;
    background-color: #222528;
    background: url("./Assets/map-location-2.png"), #222528;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .quick-links {
    list-style-image: url("./Assets/angle-f.png");
  }
  
  .quick-links>li>span {
    vertical-align: super;
  }
  
  .three {
    list-style-image: url("./Assets/tick.png");
  }
  
  .three>span {
    vertical-align: super;
  }
  
  .angle {
    list-style-image: url("./Assets/angle-f.png");
  }
  
  .angle>span {
    vertical-align: super;
  }
  
  .f-yellow>span {
    color: white;
  }
  
  .f-yellow>span:hover {
    cursor: pointer;
    color: #C99B20;
    transition: all 0.3s ease-in-out
  }
  iframe{
    width: 380px;
    height: 250px;
  }
}