* {
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', sans-serif;
  /* border: 1px solid red; */
}

::selection {
  background-color: #dda01f;
  color: white;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #dda01f;
  background-image: -webkit-linear-gradient(90deg,
      #dda01f 25%,
      transparent 25%,
      transparent 50%,
      #dda01f 50%,
      #dda01f 75%,
      transparent 75%,
      transparent)
}

.sec1 {
  width: 100%;
  height: 120vh;
  background-image: linear-gradient(rgba(1, 1, 1, 0.6), rgba(1, 1, 1, 0.6)), url("../Assets/bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.plus1{
  
  padding: 5px 0px 4px;
}
.plus{
  margin-right: 10px;
}
.nav>li {
  padding-left: 10px;
  padding-bottom: 7px;
}

.menu {
  margin-right: 90px;
  height: 150px;
}

.nav>li>a {
  text-decoration: none;
  color: white;

}

.fa-solid {
  margin-left: 10px;
}

.span {
  position: relative;
  visibility: hidden;
  margin-right: 9px;
}

.nav>li:hover>a>.span {
  visibility: visible;
}

.nav>li:hover>.fa-solid {
  transform: rotate(180deg);
  transition: all 0.35s ease-out;
}

#com2 {
  position: relative;
}

.dp1 {
  position: absolute;
  margin-top: 3px;
  margin-left: 10px;
  border: 1px solid #222528;
  background-color: #222528;
  color: white;
  list-style-type: none;
  padding: 10px 0px 20px 0px;
  border-radius: 3%;
  display: none;
  width: 200px;


}

.dp1>li {
  padding: 10px 5px 10px 3px;
  text-align: left;
  width: 100%;
  border-left: 4px solid #C99B20;
  margin-top: 3px;
  background: linear-gradient(to left, #222528 50%, #C99B20 50%) right;
  transition: .5s ease-out;
  display: inline-block;
  color: white;
  background-size: 200%;
  transition: .5s ease-out;
}

.dp1>li:hover {
  cursor: pointer;
  background-position: left;
}

.dp1>li>span>a {
  text-decoration: none;
}


.menu .nav #com2:hover>.dp1 {
  display: block;
}

#com3 {
  position: relative;
}

.dp2 {
  position: absolute;
  margin-top: 3px;
  margin-left: 10px;
  border: 1px solid #222528;
  background-color: #222528;
  color: white;
  list-style-type: none;
  width: 200px;
  padding: 10px 0px 10px 0px;
  border-radius: 3%;
  display: none;

}

.dp2>li {
  padding: 10px 5px 10px 3px;
  text-align: left;
  width: 100%;
  border-left: 4px solid #C99B20;
  margin-top: 3px;
  background: linear-gradient(to left, #222528 50%, #C99B20 50%) right;
  transition: .5s ease-out;
  display: inline-block;
  color: white;
  background-size: 200%;
  transition: .5s ease-out;
}

.dp2>li:hover {
  cursor: pointer;
  background-position: left;
}

.dp2>li>span>a {
  text-decoration: none;
}

.menu .nav #com3:hover>.dp2 {
  display: block;
}

#com4 {
  position: relative;
}

.dp3 {
  position: absolute;
  margin-top: 3px;
  margin-left: 10px;
  border: 1px solid #222528;
  background-color: #222528;
  color: white;
  width: 100%;
  list-style-type: none;
  padding: 20px 0px 20px 0px;
  border-radius: 3%;
  display: none;


}

.dp3 {
  position: absolute;
  margin-top: 3px;
  margin-left: 10px;
  border: 1px solid #222528;
  background-color: #222528;
  color: white;
  list-style-type: none;
  width: 200px;
  padding: 10px 0px 10px 0px;
  border-radius: 3%;
  display: none;

}

.dp3>li {
  padding: 10px 5px 10px 3px;
  text-align: left;
  width: 100%;
  border-left: 4px solid #C99B20;
  margin-top: 3px;
  background: linear-gradient(to left, #222528 50%, #C99B20 50%) right;
  transition: .5s ease-out;
  display: inline-block;
  color: white;
  background-size: 200%;
  transition: .5s ease-out;
}

.dp3>li:hover {
  cursor: pointer;
  background-position: left;
}


.menu .nav #com4:hover>.dp3 {
  display: block;
}

input {
  margin-top: 2px;
  padding: 5px;
  color: black;
  font-size: 14px;
  border: 1px solid #6c757d;
  outline: none;
  border-radius: 5px;

}

input:hover {
  cursor: pointer;
  border: 1px solid #C99B20;
  transition: all 0.2s ease-in-out;
}

.calc>a {
  text-decoration: none;
  color: white;
}

::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

#button1 {
  letter-spacing: 1px;
  border: 40px;
  background-color: #C99B20;
  color: white;
  font-size: 18px;
  padding: 15px 35px;
  margin-top: 40px;
  position: relative;
  text-decoration: none;
  z-index: 0;
  -webkit-transition: border-color .35s ease, background .35s ease;
  transition: border-color .35s ease, background .35s ease;
}

#button1:before {
  background-color: #222528;
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  right: 0;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

#button1:hover:before {
  background-color: #222528;
  bottom: 0;
}

#button1:hover {
  cursor: pointer;
  color: white;
  transition: 0.25s;
}

#button1:after {
  position: absolute;
  right: 2.34375rem;
  bottom: 50%;
  -webkit-transform: translateY(50%) translateX(50%);
  -ms-transform: translateY(50%) translateX(50%);
  transform: translateY(50%) translateX(50%);
  font-size: 1.75em;
}
.distance{
  background-color: #C99B20; 
  margin-left: 4px;
  padding: 0px 83px;
}
.hourly{
  margin-left: 12px;
  padding: 0px 83px;
}
.gquote{
  margin-left: 12px;
  padding: 0px 83px;
  
}
.hform-sec{
  width: 92.5%;
}
.hform-sec1{
  width: 100%;
}
.input{
  width: 100%;
}
.date{
  width: 50%;
}
.time{
  width: 50%;
}
.plocation{
  width: 50%;
}
.dlocation{
  width: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: white;
  font-size: 10px;
  font-weight: bold;
  border: 1px solid black;
  background-color: black;
  opacity: 0.3;
  padding: 7px 8px;
  border-radius: 50%;
  margin-top: 30px;
  text-align: center;
}
.card{
  width: 90% ;
  margin: auto;
}
.sec3 {

  background-image: linear-gradient(rgba(1, 1, 1, 0.5), rgba(1, 1, 1, 0.5)), url("../Assets/bg-steps.jpg");
  height: 50vh;
  background-repeat: no-repeat;
}

.strip {
  background-image: url("../Assets/strip.png");
  background-color: #143E8F;
}
.step-numb{
  padding: 5px 7px;
}
.secnd-txt{
  word-spacing: 1px;
}

.sec4 {
  margin-top: 30vh;
  height: 80vh;
  background-image: url("../Assets/map-blue.png");
  background-color: #222528;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 25%;
  background-position-y: 15vh;
  background-position-x: 79vh;
}

.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: transparent;

  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
}

@media screen and (min-width:601px) and (max-width:768px) {
  .blog-slider {
    margin-top: 120px;
    max-width: 680px;
    height: 600px;
  }
}

@media screen and (max-width: 600px) {
  .blog-slider {
    min-height: 50px;
    height: auto;
    margin: 80px auto;
    padding: 10px 0px 0px 20px;
  }
}


.blog-slider__item {
  display: flex;
  align-items: baseline;
  flex-direction: row-reverse;
}

@media screen and (max-width: 600px) {
  .blog-slider__item {
    flex-direction: column;
    margin-left: 5px;
  }
}

.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>* {
  opacity: 1;
  transform: none;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(1) {
  transition-delay: 0.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(2) {
  transition-delay: 0.4s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(3) {
  transition-delay: 0.5s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(4) {
  transition-delay: 0.6s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(5) {
  transition-delay: 0.7s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(6) {
  transition-delay: 0.8s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(7) {
  transition-delay: 0.9s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(8) {
  transition-delay: 1s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(9) {
  transition-delay: 1.1s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(10) {
  transition-delay: 1.2s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(11) {
  transition-delay: 1.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(12) {
  transition-delay: 1.4s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(13) {
  transition-delay: 1.5s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(14) {
  transition-delay: 1.6s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(15) {
  transition-delay: 1.7s;
}



.blog-slider__content {
  padding-right: 25px;
  padding-left: 20px;
}

@media screen and (max-width: 600px) {
  .blog-slider__content {
    text-align: left;
    margin: auto;
    padding-left: 10px;
   }
}
@media screen and (min-width:601px) and (max-width:768px){
  .blog-slider__content {
    padding-right: 0px;
    padding-left: 20px;
  }
  
}

.blog-slider__content>* {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}

.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}

.blog-slider .swiper-container-horizontal>.swiper-pagination-bullets,
.blog-slider .swiper-pagination-custom,
.blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  left: 20px;
  width: 11px !important;
  text-align: center;
  right: auto !important;
  top: 36%;
  bottom: auto !important;
  transform: translateY(-50%);
}

@media screen and (max-width: 600px) {
  .blog-slider__pagination {
    position: absolute;
    z-index: 1;
    left: 10px;
    width: 11px !important;
    text-align: center;
    top: 50%;
    bottom: auto !important;
    transform: translateY(-50%);
  }
}
@media screen and (min-width:601px) and (max-width:768px){
  .blog-slider__pagination {
    top: 21%;
  }
}

.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}

@media screen and (max-width: 600px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
  }
}

.blog-slider__pagination .swiper-pagination-bullet {
  width: 5px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #6c757d;
  opacity: 0.3;
  transition: all 0.3s;
}

.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: white;
  height: 130px;
}

@media screen and (max-width: 600px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 130px;
  }
}

.trusted {
  height: 100%;
  width: 100%;
  background-image: url("./Assets/trusted.jpg");
  background-size: cover;
  background-position-x: -30px;
  background-repeat: no-repeat;
}

.trust1 {
  width: 70%;
}

.trust {
  height: 85vh;
  width: 45%;
}

.trust2 {
  width: 30%;

}

.trusted2 {
  height: 100%;
  width: 100%;

  background-image: url("./Assets/trusted2.jpg");
  background-size: cover;
  background-position-x: -110px;
  margin-bottom: 2px;
}

.trusted3 {
  height: 100%;
  width: 100%;

  margin-top: 11px;
  background-image: url("./Assets/trusted3.jpg");
  background-size: cover;
}

.trust-list {
  list-style-image: url("./Assets/checked.png");
}

.trust-text {
  vertical-align: super;
}

.sec6 {
  height: 60vh;
  background-color: #222528;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Assets/car-top.png"), #222528;
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
.chauffeurs-text{
  width: 97%;
  margin: auto;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("./Assets/minus-circ.png");
}

.accordion-button::after {
  background-image: url("./Assets/plus-circ.png");
  background-color: #F3F2F1;
}

.accordion-button {
  background-color: #F3F2F1;
}

.accordion-header {
  background-color: #F3F2F1;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  color: inherit;
}

button.accordion-button:focus {
  box-shadow: inherit;
}

.car-group {
  height: 40vh;
  background-image: url("./Assets/cars-group.png");
  background-repeat: no-repeat;
  background-position-x: 120px;
}

.slider2-2{
  height: 36.3vh;
}
.slider2-3{
  height: 36.3vh;
}
.slider2-4{
  height: 36.3vh;
}

.Epic-ride {
  top: 10px;
  left: 10px;
}

.card {
  cursor: pointer;
}

.card-body:hover>h5 {
  color: #C99B20;
}
.vision{
  width: 50%;
}

.vision-list {
  list-style-image: url("./Assets/tick.png");
}

.vision-list>li>span {
  vertical-align: super;
}

.choose {
  border-top: 4px solid #C99B20;
  display: inline-block;
  line-height: 100%;
  position: relative;
  text-decoration: none;
  z-index: 0;
  -webkit-transition: border-color .35s ease, background .35s ease;
  transition: border-color .35s ease, background .35s ease;
}

.choose:before {
  background-color: #C99B20;
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  right: 0;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

.choose:hover:before {
  bottom: 0;
}

.choose:hover {
  cursor: pointer;
  color: white;
  transition: 0.25s;
}

.choose:after {
  position: absolute;
  right: 2.34375rem;
  bottom: 50%;
  -webkit-transform: translateY(50%) translateX(50%);
  -ms-transform: translateY(50%) translateX(50%);
  transform: translateY(50%) translateX(50%);
  font-size: 1.75em;
}

.slider3-next{
  position: absolute;
 right: 0;
}
.slider3-prev{
  position: absolute;
  left: 0;
}


footer {
  height: 90vh;
  background-color: #222528;
  background: url("./Assets/map-location-2.png"), #222528;
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.quick-links {
  list-style-image: url("./Assets/angle-f.png");
}

.quick-links>li>span {
  vertical-align: super;
}

.three {
  list-style-image: url("./Assets/tick.png");
}

.three>span {
  vertical-align: super;
}

.angle {
  list-style-image: url("./Assets/angle-f.png");
}

.angle>span {
  vertical-align: super;
}

.f-yellow>span {
  color: white;
}

.f-yellow>span:hover {
  cursor: pointer;
  color: #C99B20;
  transition: all 0.3s ease-in-out
}
iframe{
  width: 550px;
  height: 250px;
}
.google-star > img{
  width: 40px;
  height: 40px;
 }
.nlogo{
  width: 200px;
  height: 200px;
}
.chat{
 
  top: 91%;
  left: 1%;
  z-index: 3;
}

.chat >img{
  width: 65%;
  padding: 10px;
  background-color: #C99B20;

}
.message{
  top: 94%;
  background-color: #C99B20;
  right: 4%;
  padding: 10px 90px 10px 5px;
  z-index: 2;
}

@media screen and (max-width:600px) {

  .sec1 {
    width: 100%;
    height: 205vh;
    background-image: linear-gradient(rgba(1, 1, 1, 0.6), rgba(1, 1, 1, 0.6)), url("../Assets/bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: -150px;
  }
  .navbar-toggler{
    padding: 0 !important;
  }
  .nlogo{
    width: 120px;
    height: 120px;
  }

  .menu .nav{
    display: none;
    }

  
  .google > img{
    width: 120px;
    height: 40.4px;
  }
   .google-star > img{
    width: 17px;
    height: 17px;
   }
   .nav1>li {
    list-style: none;
    padding-bottom: 15px;
  }
  .nav1>li>a {
    text-decoration: none;
    color: white;
  
  }
  
  .fa-solid {
    margin-left: 10px;
  }
  
  .span {
    position: relative;
    visibility: hidden;
    margin-right: 9px;
  }
  
  .nav1>li:hover>a>.span {
    visibility: visible;
  }
  
  .nav1>li:hover>.fa-solid {
    transform: rotate(180deg);
    transition: all 0.35s ease-out;
  }
  
  #com2 {
    position: relative;
  }
  
  .dp1 {
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
    border: 1px solid #222528;
    background-color: #222528;
    color: white;
    list-style-type: none;
    padding: 10px 0px 20px 0px;
    border-radius: 3%;
    display: none;
    width: 200px;
  
  
  }
  
  .dp1>li {
    padding: 10px 5px 10px 3px;
    text-align: left;
    width: 100%;
    border-left: 4px solid #C99B20;
    margin-top: 3px;
    background: linear-gradient(to left, #222528 50%, #C99B20 50%) right;
    transition: .5s ease-out;
    display: inline-block;
    color: white;
    background-size: 200%;
    transition: .5s ease-out;
  }
  
  .dp1>li:hover {
    cursor: pointer;
    background-position: left;
  }
  
  .dp1>li>span>a {
    text-decoration: none;
  }
  
  
   .nav1 #com2:hover>.dp1 {
    display: block;
  }
  
  #com3 {
    position: relative;
  }
  
  .dp2 {
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
    border: 1px solid #222528;
    background-color: #222528;
    color: white;
    list-style-type: none;
    width: 200px;
    padding: 10px 0px 10px 0px;
    border-radius: 3%;
    display: none;
  
  }
  
  .dp2>li {
    padding: 10px 5px 10px 3px;
    text-align: left;
    width: 100%;
    border-left: 4px solid #C99B20;
    margin-top: 3px;
    background: linear-gradient(to left, #222528 50%, #C99B20 50%) right;
    transition: .5s ease-out;
    display: inline-block;
    color: white;
    background-size: 200%;
    transition: .5s ease-out;
  }
  
  .dp2>li:hover {
    cursor: pointer;
    background-position: left;
  }
  
  .dp2>li>span>a {
    text-decoration: none;
  }
  
   .nav1 #com3:hover>.dp2 {
    display: block;
  }
  
  #com4 {
    position: relative;
  }
  
  .dp3 {
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
    border: 1px solid #222528;
    background-color: #222528;
    color: white;
    width: 100%;
    list-style-type: none;
    padding: 20px 0px 20px 0px;
    border-radius: 3%;
    display: none;
  
  
  }
  
  .dp3 {
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
    border: 1px solid #222528;
    background-color: #222528;
    color: white;
    list-style-type: none;
    width: 200px;
    padding: 10px 0px 10px 0px;
    border-radius: 3%;
    display: none;
  
  }
  
  .dp3>li {
    padding: 10px 5px 10px 3px;
    text-align: left;
    width: 100%;
    border-left: 4px solid #C99B20;
    margin-top: 3px;
    background: linear-gradient(to left, #222528 50%, #C99B20 50%) right;
    transition: .5s ease-out;
    display: inline-block;
    color: white;
    background-size: 200%;
    transition: .5s ease-out;
  }
  
  .dp3>li:hover {
    cursor: pointer;
    background-position: left;
  }
  
  
 .nav1 #com4:hover>.dp3 {
    display: block;
  }
  #button1 {
    letter-spacing: 1px;
    border: 0px;
    background-color: #C99B20;
    color: white;
    font-size: 16px;
    padding: 15px 32px;
    margin-top: 30px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    -webkit-transition: border-color .35s ease, background .35s ease;
    transition: border-color .35s ease, background .35s ease;
  }
  #button1:before {
    background-color: #222528;
    content: "";
    display: block;
    position: absolute;
    bottom: 100%;
    right: 0;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
  }
  
  #button1:hover:before {
    background-color: #222528;
    bottom: 0;
  }
  
  #button1:hover {
    cursor: pointer;
    color: white;
    transition: 0.25s;
  }
  
  #button1:after {
    position: absolute;
    right: 2.34375rem;
    bottom: 50%;
    -webkit-transform: translateY(50%) translateX(50%);
    -ms-transform: translateY(50%) translateX(50%);
    transform: translateY(50%) translateX(50%);
    font-size: 1.75em;
  }
  .distance{
    background-color: #C99B20; 
    margin-left: 4px;
    padding: 0px 17px;
  }
  .hourly{
    background-color: #F7F7F9 !important;
    margin-left: 13px;
    padding: 0px 17px;
  }
  .gquote{
    background-color: #F7F7F9 !important;
    margin-left: 13px;
    padding: 0px 17px;
    
  }
  .hero{
    padding-left: 20px !important;
  }
  .hform{
    margin-top: 200px;
    background-color: white;
    padding-bottom: 50px;
  }
  .hform-sec{
    background-color: white;
  }
  .hform-sec1{
    margin-top: 20px !important;
    background-color: #F7F7F9 !important;
  }
  .hform-head {
    margin-top: 20px;
  }
  .input{
    flex-direction: column;
  }
  .date{
    width: 100%;
  }
  .time{
    width: 100%;
  }
  .plocation{
    width: 100%;
  }
  .dlocation{
    width: 100%;
  }
  .hform-sec{
    width: 100%;
  }
  .pay-btn{
    width: 94%;
  }
  .our{
    flex-direction: column;
  }
  .sec2{
    padding-top: 90px;
  }
  .fleet-text{
    font-size: 38px;
  }
  .card{
    width: 75% ;
    margin: auto;
  }
  .card-img-top{
    margin-left: 30px !important;
  }
  .card-price{
    flex-direction: column;
  }
  .sec3 {

    background-image: linear-gradient(rgba(1, 1, 1, 0.5), rgba(1, 1, 1, 0.5)), url("../Assets/bg-steps.jpg");
    height: 60vh;
    background-repeat: no-repeat;
  }
  .sec4 {
    margin-top: 110vh;
    height: 100vh;
    background-image: url("../Assets/map-blue.png");
    background-color: #222528;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 75%;
    background-position-y: 0;
    background-position-x: center;

  }
  .step-card{
    width: 90%;
    margin:auto;
    margin-top: 15px;
  }
  .vert-name{
    font-size: 20px !important;
  }
  .vert-pos{
    font-size: 12px !important;
  }
  .vert-para{
    font-size: 14px !important;
    padding-top: 8px !important;
  }
  .trust-list{
    margin-bottom: 0 !important;
  }
  .trusted {
    height: 100%;
    width: 100%;
    background-image: url("./Assets/trusted.jpg");
    background-size: cover;
    background-position-x: -30px;
    background-repeat: no-repeat;
  }
  
  .trust1 {
    width: 35%;
  }
  
  .trust {
    height: 65vh;
    width: 100%;
  }
  
  .trust2 {
    width: 60%;
    margin-left: 20px !important;
  }
  
  .trusted2 {
    height: 100%;
    width: 100%;
  
    background-image: url("./Assets/trusted2.jpg");
    background-size: cover;
    background-position-x: -110px;
    margin-bottom: 2px;
  }
  
  .trusted3 {
    height: 100%;
    width: 100%;
  
    margin-top: 11px;
    background-image: url("./Assets/trusted3.jpg");
    background-size: cover;
  }
  .t-list-1{
    padding-left: 48px !important;
  }

  .t-list-2{
    padding-left: 0 !important;
  }
  .sec6 {
    height: 190vh;
    background-color: #222528;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Assets/car-top.png"), #222528;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .car-group {
    height: 40vh;
    background-image: url("./Assets/cars-group.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: 20px;
    background-position-y: 120px;
  }
  .slider2-2{
    height: auto;
  }
  .slider2-3{
    height: auto;
  }
  .slider2-4{
    height: auto;
  }
  
  .Epic-ride {
    top: 10px;
    left: 10px;
  }
  .vision{
    width: 90%;
    margin: auto;
  }
  .vision-list{
    width: 100%;
    margin: auto;
  }
  .moto{
    padding: 0px 32px;
  }
  .vision-head{
    font-size: 30px !important;
    
    margin-bottom: 15px !important;
  }
  .vision-head1{
    font-size: 16.5px !important;
  }
  .our > div{
      text-align: center;
  }
  .slider3{
    margin-top: 20px;
  }
  .slider3-next{
    position: absolute;
   right: 0;
  }
  .slider3-prev{
    position: absolute;
    left: 0;
  }
  .trustcard1{
    width: 92%;
    margin: auto;
  }
  .swiper-slide-active{
    width: 50%;
    margin: auto;
  }
  footer {
    height: 220vh;
    background-color: #222528;
    background: url("./Assets/map-location-2.png"), #222528;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  iframe {
    width: 279.8px;
    height: 230px;
    margin: auto;
    margin-top: 20px;
    padding-left: 20px ;
  }
  .moto1{
    padding: 25px 12px 0px;
  }
  .footer-last{
    flex-direction: column;
  }
  .footer-icons{
    margin-top: 10px
  }
  .footer-right{
    text-align: center;
    font-size: 14px;
    margin-top: 10px
  }
  .company{
    margin-top: 15px;
  }
  .accept{
    margin-top: 15px;
  }
  .mapf{
    margin-top: 15px;
  }
}
@media screen and (min-width:601px) and (max-width:768px){
  .sec1 {
    width: 100%;
    height: 200vh;
    background-image: linear-gradient(rgba(1, 1, 1, 0.6), rgba(1, 1, 1, 0.6)), url("../Assets/bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: -150px;
  }
  .navbar-toggler{
    padding: 0 !important;
    margin-right: 20px;
  }
  .menu .nav{
    display: none;
    }
    .nav1>li {
      list-style: none;
      padding-bottom: 15px;
    }
    .nav1>li>a {
      text-decoration: none;
      color: white;
    
    }
    
    .fa-solid {
      margin-left: 10px;
    }
    
    .span {
      position: relative;
      visibility: hidden;
      margin-right: 9px;
    }
    
    .nav1>li:hover>a>.span {
      visibility: visible;
    }
    
    .nav1>li:hover>.fa-solid {
      transform: rotate(180deg);
      transition: all 0.35s ease-out;
    }
    
    #com2 {
      position: relative;
    }
    
    .dp1 {
      position: absolute;
      margin-top: 3px;
      margin-left: 10px;
      border: 1px solid #222528;
      background-color: #222528;
      color: white;
      list-style-type: none;
      padding: 10px 0px 20px 0px;
      border-radius: 3%;
      display: none;
      width: 200px;
    
    
    }
    
    .dp1>li {
      padding: 10px 5px 10px 3px;
      text-align: left;
      width: 100%;
      border-left: 4px solid #C99B20;
      margin-top: 3px;
      background: linear-gradient(to left, #222528 50%, #C99B20 50%) right;
      transition: .5s ease-out;
      display: inline-block;
      color: white;
      background-size: 200%;
      transition: .5s ease-out;
    }
    
    .dp1>li:hover {
      cursor: pointer;
      background-position: left;
    }
    
    .dp1>li>span>a {
      text-decoration: none;
    }
    
    
     .nav1 #com2:hover>.dp1 {
      display: block;
    }
    
    #com3 {
      position: relative;
    }
    
    .dp2 {
      position: absolute;
      margin-top: 3px;
      margin-left: 10px;
      border: 1px solid #222528;
      background-color: #222528;
      color: white;
      list-style-type: none;
      width: 200px;
      padding: 10px 0px 10px 0px;
      border-radius: 3%;
      display: none;
    
    }
    
    .dp2>li {
      padding: 10px 5px 10px 3px;
      text-align: left;
      width: 100%;
      border-left: 4px solid #C99B20;
      margin-top: 3px;
      background: linear-gradient(to left, #222528 50%, #C99B20 50%) right;
      transition: .5s ease-out;
      display: inline-block;
      color: white;
      background-size: 200%;
      transition: .5s ease-out;
    }
    
    .dp2>li:hover {
      cursor: pointer;
      background-position: left;
    }
    
    .dp2>li>span>a {
      text-decoration: none;
    }
    
     .nav1 #com3:hover>.dp2 {
      display: block;
    }
    
    #com4 {
      position: relative;
    }
    
    .dp3 {
      position: absolute;
      margin-top: 3px;
      margin-left: 10px;
      border: 1px solid #222528;
      background-color: #222528;
      color: white;
      width: 100%;
      list-style-type: none;
      padding: 20px 0px 20px 0px;
      border-radius: 3%;
      display: none;
    
    
    }
    
    .dp3 {
      position: absolute;
      margin-top: 3px;
      margin-left: 10px;
      border: 1px solid #222528;
      background-color: #222528;
      color: white;
      list-style-type: none;
      width: 200px;
      padding: 10px 0px 10px 0px;
      border-radius: 3%;
      display: none;
    
    }
    
    .dp3>li {
      padding: 10px 5px 10px 3px;
      text-align: left;
      width: 100%;
      border-left: 4px solid #C99B20;
      margin-top: 3px;
      background: linear-gradient(to left, #222528 50%, #C99B20 50%) right;
      transition: .5s ease-out;
      display: inline-block;
      color: white;
      background-size: 200%;
      transition: .5s ease-out;
    }
    
    .dp3>li:hover {
      cursor: pointer;
      background-position: left;
    }
    
    
   .nav1 #com4:hover>.dp3 {
      display: block;
    }
    #button1:before {
      background-color: #222528;
      content: "";
      display: block;
      position: absolute;
      bottom: 100%;
      right: 0;
      top: 0;
      left: 0;
      z-index: -1;
      -webkit-transition: all .35s ease;
      transition: all .35s ease;
    }
    
    #button1:hover:before {
      background-color: #222528;
      bottom: 0;
    }
    
    #button1:hover {
      cursor: pointer;
      color: white;
      transition: 0.25s;
    }
    
    #button1:after {
      position: absolute;
      right: 2.34375rem;
      bottom: 50%;
      -webkit-transform: translateY(50%) translateX(50%);
      -ms-transform: translateY(50%) translateX(50%);
      transform: translateY(50%) translateX(50%);
      font-size: 1.75em;
    }
    .distance{
      background-color: #C99B20; 
      margin-left: 1px;
      padding: 0px 91px;
    }
    .hourly{
      background-color: #F7F7F9 !important;
      margin-left: 17px;
      padding: 0px 91px;
    }
    .gquote{
      background-color: #F7F7F9 !important;
      margin-left: 17px;
     padding: 0px 91px;
      
    }
    .hero{
      padding-left: 20px !important;
    }
    .hform{
      margin-top: 200px;
      background-color: white;
      padding-bottom: 50px;
    }
    .hform-sec{
      background-color: white;
    }
    .hform-sec1{
      margin-top: 20px !important;
      background-color: #F7F7F9 !important;
    }
    .hform-head {
      margin-top: 20px;
    }
    .input{
      flex-direction: row;
    }
    .date{
      width: 100%;
    }
    .time{
      width: 100%;
    }
    .plocation{
      width: 100%;
    }
    .dlocation{
      width: 100%;
    }
    .hform-sec{
      width: 100%;
    }
    .pay-btn{
      width: 98%;
    }
    .our{
      flex-direction: column;
    }
    .sec2{
      padding-top: 90px;
    }
    .fleet-text{
      font-size: 38px;
    }
    .card{
      width: 75% ;
      margin: auto;
    }
    .card-img-top{
      margin-left: 30px !important;
    }
    .card-price{
      flex-direction: column;
    }
    .sec3 {
  
      background-image: linear-gradient(rgba(1, 1, 1, 0.5), rgba(1, 1, 1, 0.5)), url("../Assets/bg-steps.jpg");
      height: 60vh;
      background-repeat: no-repeat;
    }
    .sec4 {
      margin-top: 50vh;
      height: 75vh;
      background-image: url("../Assets/map-blue.png");
      background-color: #222528;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 75%;
      background-position-y: 0;
      background-position-x: center;
    }
    .blog-benz{
      margin-top: 140px;
    }
    .vert-name{
      
      font-size: 20px !important;
    }
    .vert-pos{
      font-size: 12px !important;
    }
    .vert-para{
      font-size: 14px !important;
      padding-top: 45px !important;
    }
    .trusted {
      height: 100%;
      width: 100%;
      background-image: url("./Assets/trusted.jpg");
      background-size: cover;
      background-position-x: -30px;
      background-repeat: no-repeat;
    }
    
    .trust1 {
      width: 30%;
    }
    
    .trust {
      justify-content: center;
      height: 70vh;
      width: 100%;
    }
    
    .trust2 {
      width: 26%;
      margin-left: 10px !important;
    }
    
    .trusted2 {
      height: 100%;
      width: 100%;
    
      background-image: url("./Assets/trusted2.jpg");
      background-size: cover;
      background-position-x: -110px;
      margin-bottom: 2px;
    }
    
    .trusted3 {
      height: 100%;
      width: 100%;
    
      margin-top: 11px;
      background-image: url("./Assets/trusted3.jpg");
      background-size: cover;
    }
    .sec6 {
      height: 110vh;
      background-color: #222528;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Assets/car-top.png"), #222528;
      background-attachment: fixed;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .car-group {
      height: 40vh;
      background-image: url("./Assets/cars-group.png");
      background-repeat: no-repeat;
      background-size: 90%;
      background-position-x: 35px;
      background-position-y: 50px;
    }

    .slider2-2{
      height: 26.2vh;
    }
    .slider2-3{
      height: 21.6vh;
    }
    .slider2-4{
      height: 18.7vh;
    }
    .our{
      flex-direction: row;
    }
    .our > div{
      padding-left: 70px !important;
      padding-right: 70px !important;
    }
    .moto{
      padding: 0px 32px;
    }
    .vision-head{
      font-size: 30px !important;
      
      margin-bottom: 15px !important;
    }
    .vision-head1{
      font-size: 16.5px !important;
    }
    footer {
      height: 140vh;
      background-color: #222528;
      background: url("./Assets/map-location-2.png"), #222528;
      background-attachment: fixed;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: contain;
    }
  
    iframe {
      width: 679.8px;
      height: 230px;
      margin: auto;
      margin-top: 20px;
      padding-left: 20px ;
    }
    .moto1{
      padding: 25px 12px 0px;
    }
    .footer-last{
      flex-direction: row;
    }
    .footer-icons{
      margin-top: 10px
    }
    .footer-right{
      text-align: center;
      font-size: 14px;
      margin-top: 10px
    }
    .qlinks{
      margin-top: 15px;
    }
    .company{
      margin-top: 15px;
    }
    .accept{
      margin-top: 15px;
    }
    .mapf{
      margin-top: 15px;
    }
}
@media screen and (min-width:769px) and (max-width:1024px){
  .sec1 {
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(rgba(1, 1, 1, 0.6), rgba(1, 1, 1, 0.6)), url("../Assets/bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .google > img{
    width: 210px;
    height: 80.4px;
  }
   .google-star > img{
    width: 30px !important;
    height: 30px !important;
   }
  .nav>li {
    padding-left: 10px;
    padding-bottom: 7px;
  }
  
  .menu {
    margin-right: 35px;
    height: 150px;
  }
  
  .nav>li>a {
    text-decoration: none;
    color: white;
  
  }
  
  .fa-solid {
    margin-left: 10px;
  }
  
  .span {
    position: relative;
    visibility: hidden;
    margin-right: 9px;
  }
  
  .nav>li:hover>a>.span {
    visibility: visible;
  }
  
  .nav>li:hover>.fa-solid {
    transform: rotate(180deg);
    transition: all 0.35s ease-out;
  }
  
  #com2 {
    position: relative;
  }
  
  .dp1 {
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
    border: 1px solid #222528;
    background-color: #222528;
    color: white;
    list-style-type: none;
    padding: 10px 0px 20px 0px;
    border-radius: 3%;
    display: none;
    width: 200px;
  
  
  }
  
  .dp1>li {
    padding: 10px 5px 10px 3px;
    text-align: left;
    width: 100%;
    border-left: 4px solid #C99B20;
    margin-top: 3px;
    background: linear-gradient(to left, #222528 50%, #C99B20 50%) right;
    transition: .5s ease-out;
    display: inline-block;
    color: white;
    background-size: 200%;
    transition: .5s ease-out;
  }
  
  .dp1>li:hover {
    cursor: pointer;
    background-position: left;
  }
  
  .dp1>li>span>a {
    text-decoration: none;
  }
  
  
  .menu .nav #com2:hover>.dp1 {
    display: block;
  }
  
  #com3 {
    position: relative;
  }
  
  .dp2 {
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
    border: 1px solid #222528;
    background-color: #222528;
    color: white;
    list-style-type: none;
    width: 200px;
    padding: 10px 0px 10px 0px;
    border-radius: 3%;
    display: none;
  
  }
  
  .dp2>li {
    padding: 10px 5px 10px 3px;
    text-align: left;
    width: 100%;
    border-left: 4px solid #C99B20;
    margin-top: 3px;
    background: linear-gradient(to left, #222528 50%, #C99B20 50%) right;
    transition: .5s ease-out;
    display: inline-block;
    color: white;
    background-size: 200%;
    transition: .5s ease-out;
  }
  
  .dp2>li:hover {
    cursor: pointer;
    background-position: left;
  }
  
  .dp2>li>span>a {
    text-decoration: none;
  }
  
  .menu .nav #com3:hover>.dp2 {
    display: block;
  }
  
  #com4 {
    position: relative;
  }
  
  .dp3 {
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
    border: 1px solid #222528;
    background-color: #222528;
    color: white;
    width: 100%;
    list-style-type: none;
    padding: 20px 0px 20px 0px;
    border-radius: 3%;
    display: none;
  
  
  }
  
  .dp3 {
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
    border: 1px solid #222528;
    background-color: #222528;
    color: white;
    list-style-type: none;
    width: 200px;
    padding: 10px 0px 10px 0px;
    border-radius: 3%;
    display: none;
  
  }
  
  .dp3>li {
    padding: 10px 5px 10px 3px;
    text-align: left;
    width: 100%;
    border-left: 4px solid #C99B20;
    margin-top: 3px;
    background: linear-gradient(to left, #222528 50%, #C99B20 50%) right;
    transition: .5s ease-out;
    display: inline-block;
    color: white;
    background-size: 200%;
    transition: .5s ease-out;
  }
  
  .dp3>li:hover {
    cursor: pointer;
    background-position: left;
  }
  
  
  .menu .nav #com4:hover>.dp3 {
    display: block;
  }
  
  input {
    margin-top: 2px;
    padding: 5px;
    color: black;
    font-size: 14px;
    border: 1px solid #6c757d;
    outline: none;
    border-radius: 5px;
  
  }
  
  input:hover {
    border: 1px solid #C99B20;
    transition: all 0.2s ease-in-out;
  }
  
  .calc>a {
    text-decoration: none;
    color: white;
  }
  
  ::-webkit-calendar-picker-indicator {
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  #button1 {
    letter-spacing: 1px;
    border: 40px;
    background-color: #C99B20;
    color: white;
    font-size: 18px;
    padding: 15px 35px;
    margin-top: 40px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    -webkit-transition: border-color .35s ease, background .35s ease;
    transition: border-color .35s ease, background .35s ease;
  }
  
  #button1:before {
    background-color: #222528;
    content: "";
    display: block;
    position: absolute;
    bottom: 100%;
    right: 0;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
  }
  
  #button1:hover:before {
    background-color: #222528;
    bottom: 0;
  }
  
  #button1:hover {
    cursor: pointer;
    color: white;
    transition: 0.25s;
  }
  
  #button1:after {
    position: absolute;
    right: 2.34375rem;
    bottom: 50%;
    -webkit-transform: translateY(50%) translateX(50%);
    -ms-transform: translateY(50%) translateX(50%);
    transform: translateY(50%) translateX(50%);
    font-size: 1.75em;
  }
  .distance{
    background-color: #C99B20; 
    margin-left: 4px;
    padding: 0px 43px;
  }
  .hourly{
    margin-left: 15px;
    padding: 0px 43px;
  }
  .gquote{
    margin-left: 15px;
    padding: 0px 43px;
    
  }
  .hform-sec{
    width: 92.5%;
  }
  .hform-sec1{
    width: 100%;
  }
  .input{
    width: 100%;
  }
  .date{
    width: 50%;
  }
  .time{
    width: 50%;
  }
  .plocation{
    width: 50%;
  }
  .dlocation{
    width: 50%;
  }
  
  .swiper-button-next::after,
  .swiper-button-prev::after {
    color: white;
    font-size: 10px;
    font-weight: bold;
    border: 1px solid black;
    background-color: black;
    padding: 7px 8px;
    border-radius: 50%;
    margin-top: 30px;
    text-align: center;
  }
  .card{
    width: 90% ;
    margin: auto;
  }
  .sec3 {
  
    background-image: linear-gradient(rgba(1, 1, 1, 0.5), rgba(1, 1, 1, 0.5)), url("../Assets/bg-steps.jpg");
    height: 50vh;
    background-repeat: no-repeat;
  }
  
  .strip {
    background-image: url("../Assets/strip.png");
    background-color: #143E8F;
  }
  .step-numb{
    padding: 5px 7px;
  }
  .secnd-txt{
    word-spacing: 1px;
  }
  
  .sec4 {
    margin-top: 40vh;
    height: 85vh;
    background-image: url("../Assets/map-blue.png");
    background-color: #222528;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 25%;
    background-position-y: 15vh;
    background-position-x: 79vh;
  }
  .blog-benz{
    margin-top: 22px !important;
  }
  .vert-name{
      
    font-size: 20px !important;
  }
  .vert-pos{
    font-size: 12px !important;
  }
  .vert-para{
    font-size: 18px !important;
    padding-top: 10px !important;
  }
  .blog-slider {
    width: 95%;
    position: relative;
    max-width: 800px;
    margin: auto;
    background: transparent;
  
    padding: 25px;
    border-radius: 25px;
    height: 250px;
    transition: all 0.3s;
  }
  
  
  
  .blog-slider__item {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  
  .blog-slider__item.swiper-slide-active .blog-slider__img img {
    opacity: 1;
    transition-delay: 0.3s;
  }
  
  .blog-slider__item.swiper-slide-active .blog-slider__content>* {
    opacity: 1;
    transform: none;
  }
  
  .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(1) {
    transition-delay: 0.3s;
  }
  
  .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(2) {
    transition-delay: 0.4s;
  }
  
  .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(3) {
    transition-delay: 0.5s;
  }
  
  .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(4) {
    transition-delay: 0.6s;
  }
  
  .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(5) {
    transition-delay: 0.7s;
  }
  
  .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(6) {
    transition-delay: 0.8s;
  }
  
  .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(7) {
    transition-delay: 0.9s;
  }
  
  .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(8) {
    transition-delay: 1s;
  }
  
  .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(9) {
    transition-delay: 1.1s;
  }
  
  .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(10) {
    transition-delay: 1.2s;
  }
  
  .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(11) {
    transition-delay: 1.3s;
  }
  
  .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(12) {
    transition-delay: 1.4s;
  }
  
  .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(13) {
    transition-delay: 1.5s;
  }
  
  .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(14) {
    transition-delay: 1.6s;
  }
  
  .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(15) {
    transition-delay: 1.7s;
  }
  
  
  
  .blog-slider__content {
    padding-right: 25px;
    padding-left: 20px;
  }
  
  
  .blog-slider__content>* {
    opacity: 0;
    transform: translateY(25px);
    transition: all 0.4s;
  }
  
  .blog-slider__code {
    color: #7b7992;
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
  }
  
  .blog-slider .swiper-container-horizontal>.swiper-pagination-bullets,
  .blog-slider .swiper-pagination-custom,
  .blog-slider .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
  }
  
  .blog-slider__pagination {
    position: absolute;
    z-index: 21;
    left: 20px;
    width: 11px !important;
    text-align: center;
    right: auto !important;
    top: 50%;
    bottom: auto !important;
    transform: translateY(-50%);
  }
  

  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 8px 0;
  }
  

  
  .blog-slider__pagination .swiper-pagination-bullet {
    width: 5px;
    height: 11px;
    display: block;
    border-radius: 10px;
    background: #6c757d;
    opacity: 0.3;
    transition: all 0.3s;
  }
  
  .blog-slider__pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: white;
    height: 130px;
  }
  
  
  .trusted {
    height: 100%;
    width: 100%;
    background-image: url("./Assets/trusted.jpg");
    background-size: cover;
    background-position-x: -30px;
    background-repeat: no-repeat;
  }
  
  .trust1 {
    width: 70%;
  }
  
  .trust {
    height: 115vh;
    width: 45%;
  }
  
  .trust2 {
    width: 30%;
    margin-left: 25px !important
  }
  
  .trusted2 {
    height: 100%;
    width: 100%;
  
    background-image: url("./Assets/trusted2.jpg");
    background-size: cover;
    background-position-x: -110px;
    margin-bottom: 2px;
  }
  
  .trusted3 {
    height: 100%;
    width: 100%;
  
    margin-top: 11px;
    background-image: url("./Assets/trusted3.jpg");
    background-size: cover;
  }
  
  .trust-list {
    list-style-image: url("./Assets/checked.png");
    
  }
  .t-list-1{
    width: 50%;
  }
  .t-list-2{
    width: 50%;
    padding-left: 0 !important;
  }
  .trust-text {
    vertical-align: super;
  }
  .trust-right{
    margin-left: 0 !important;
  }
  
  .sec6 {
    height: 60vh;
    background-color: #222528;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Assets/car-top.png"), #222528;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .accordion-button:not(.collapsed)::after {
    background-image: url("./Assets/minus-circ.png");
  }
  
  .accordion-button::after {
    background-image: url("./Assets/plus-circ.png");
    background-color: #F3F2F1;
  }
  
  .accordion-button {
    background-color: #F3F2F1;
  }
  
  .accordion-header {
    background-color: #F3F2F1;
  }
  
  .accordion-button:not(.collapsed) {
    background-color: transparent !important;
    color: inherit;
  }
  
  button.accordion-button:focus {
    box-shadow: inherit;
  }
  
  .car-group {
    height: 40vh;
    background-image: url("./Assets/cars-group.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: 45px;
  }
  .slider2-1{
    height: 36.4vh;
  }
  .slider2-2{
    height: 36.3vh;
  }
  .slider2-3{
    height: 36.3vh;
  }
  .slider2-4{
    height: 36.3vh;
  }
  
  .Epic-ride {
    top: 10px;
    left: 10px;
  }
  
  .card {
    cursor: pointer;
  }
  
  .card-body:hover>h5 {
    color: #C99B20;
  }
  .vision{
    width: 100%;
  }
  
  .vision-list {
    margin: 0 !important;
    list-style-image: url("./Assets/tick.png");
  }
  
  .vision-list>li>span {
    vertical-align: super;
  }
  
  .choose {
    border-top: 4px solid #C99B20;
    display: inline-block;
    line-height: 100%;
    position: relative;
    text-decoration: none;
    z-index: 0;
    -webkit-transition: border-color .35s ease, background .35s ease;
    transition: border-color .35s ease, background .35s ease;
  }
  
  .choose:before {
    background-color: #C99B20;
    content: "";
    display: block;
    position: absolute;
    bottom: 100%;
    right: 0;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
  }
  
  .choose:hover:before {
    bottom: 0;
  }
  
  .choose:hover {
    cursor: pointer;
    color: white;
    transition: 0.25s;
  }
  
  .choose:after {
    position: absolute;
    right: 2.34375rem;
    bottom: 50%;
    -webkit-transform: translateY(50%) translateX(50%);
    -ms-transform: translateY(50%) translateX(50%);
    transform: translateY(50%) translateX(50%);
    font-size: 1.75em;
  }
  
  .slider3-next{
    position: absolute;
   right: 0;
  }
  .slider3-prev{
    position: absolute;
    left: 0;
  }
  
  
  footer {
    height: 100vh;
    background-color: #222528;
    background: url("./Assets/map-location-2.png"), #222528;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .quick-links {
    list-style-image: url("./Assets/angle-f.png");
  }
  
  .quick-links>li>span {
    vertical-align: super;
  }
  
  .three {
    list-style-image: url("./Assets/tick.png");
  }
  
  .three>span {
    vertical-align: super;
  }
  
  .angle {
    list-style-image: url("./Assets/angle-f.png");
  }
  
  .angle>span {
    vertical-align: super;
  }
  
  .f-yellow>span {
    color: white;
  }
  
  .f-yellow>span:hover {
    cursor: pointer;
    color: #C99B20;
    transition: all 0.3s ease-in-out
  }
  iframe{
    width: 380px;
    height: 250px;
  }
  .google-star > img{
    width: 40px;
    height: 40px;
   }
  .nlogo{
    width: 200px;
    height: 200px;
  }
}