@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #11abe2;
  --white-color: #ffffff;
  --gray-text: #667085;
  --heading-color: #1a1a1a;
  --light-gray: #d0d5dd;
  --link-color: #0086ff;
  --border-color: #eaecf0;
  --main-light: #41bce8;
  --dark-color: #081428;
  --checkbox-color: #2be3b7;
  --light-color-1: #f9fafb;
  --light-sky: #eff8ff;
  --surface-surface-gray: #f2f4f7;
  --gray-2: #98a2b3;
  --placeholder-color: #475467;
  --pill-light-green: #ecfdf3;
  --pill-dark-green: #299c46;
  --pill-light-bw: #fff4cb;
  --pill-dark-bw: #a5600d;
  /* new */
  --modal-bg: rgba(12, 17, 25, 0.2);
  --red-color: #cb121d;
  /* ABDUR REHMAN COLORS  */
  --border-border-primary: #eaecf0;
  --box-shadow-color: #1018280d;
  --bg-color-daterange: #ebf4f8;
  --black-color: #000000;
  --pill-prim-dark: #146DD5;
  --pill-prim-light: #EFF8FF;
  --pill-red-light: #FDEBEB;
}

body {
  font-family: "Inter", sans-serif;
}

.logo-size {
  width: 111px;
  height: 30.974px;
}

/* colors & bg colors start*/
.brand-color {
  color: var(--main-color);
}

.bg-brand {
  background: var(--main-color);
}

.text-1 {
  color: var(--heading-color);
}

.link-color {
  color: var(--link-color);
}

.gray-text {
  color: var(--gray-text);
}

.bg-grey {
  background-color: var(--surface-surface-gray);
}

.border-c {
  border: 1px solid var(--border-color);
}

.border-color {
  border-color: var(--border-color) !important;
}
.border-blue{
  border: 1px solid var(--link-color);
}
.bg-light-main {
  background: var(--main-light);
}

.bg-link {
  background: var(--link-color) !important;
}

.text-input {
  color: var(--placeholder-color);
}

/*new*/
.gray-text-2 {
  color: var(--gray-2);
}
.dark-bg {
  background: var(--dark-color);
}

.color-red {
  color: var(--red-color);
}

.text-green {
  color: var(--pill-dark-green);
}

.bg-red {
  background: var(--red-color);
}
/*new end*/

::placeholder {
  color: var(--placeholder-color);
}

a:hover {
  color: var(--main-color);
}

/* colors & bg colors end */

/* font size and font weight start */
.fs-12 {
  font-size: 12px;
}
.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}
.fs-24 {
  font-size: 24px;
}

.fs-32 {
  font-size: 32px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fw-500-24 {
  font-weight: 500;
  line-height: 24px;
}
.fw-500-20 {
  font-weight: 500;
  line-height: 20px;
}

.fw-600-48 {
  font-weight: 600;
  line-height: 48px;
}

.fw-400-20px {
  font-weight: 400;
  line-height: 20px;
}

.fw-400-24px {
  font-weight: 400;
  line-height: 24px;
}

.fw-600-24 {
  font-weight: 600;
  line-height: 24px;
}

.fw-400-18 {
  font-weight: 400;
  line-height: 18px;
}

/* font size and font weight  end */

/*gap cs start*/
.gap-8 {
  gap: 8px;
}
.gap-12 {
  gap: 12px;
}
.gap-48 {
  gap: 48px;
}
.gap-16 {
  gap: 16px;
}
.gap-4c {
  gap: 4px;
}
.gap-24 {
  gap: 24px;
}
.gap-32 {
  gap: 32px;
}
.gap-2 {
  gap: 2px;
}

.gap-19 {
  gap: 19px;
}
.gap-20{
  gap: 20px;
}
.gap-6 {
  gap: 6px;
}

/*new*/

.gap-10 {
  gap: 10px;
}
/*new end*/

/*gap cs end*/

input:focus,
select:focus,
textarea:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btncust {
  border-radius: 8px;
  padding: 8px 16px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.btn-sub {
  border-radius: 8px;
  padding: 8px 16px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  background-color: var(--light-gray);
}

.btn-sub.active {
  background: var(--link-color);
}

.form-400 {
  width: 480px;
  max-width: 100%;
}

.form-cs {
  padding: 80px 0px;
}

.pad-12 {
  padding: 12px;
}
.pad-16 {
  padding: 16px 0px;
}

.pad-20 {
  padding: 20px;
}
.pad-50 {
  padding: 50px 0px;
}

.pad-60 {
  padding: 60px 0px;
}

.pad-12-24 {
  padding: 12px 24px;
}
.pad-6-16 {
  padding: 6px 16px;
}

.pad-80 {
  padding: 80px 0px;
}

.pad-t-40 {
  padding-top: 40px;
}

.pad-6-12 {
  padding: 6px 12px;
}

/*new*/
.pad-16-16 {
  padding: 16px;
}
/*new end*/

.input-c {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background: var(--white-color);
}

.or-cs::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0px;
  height: 0px;
  width: 100%;
  border: 1px solid var(--border-color);
  z-index: -1;
}

.or-cs p {
  width: 20px;
  height: 20px;
}

.right-side {
  padding-top: 80px;
  background: var(--main-color);
}

.img-side img {
  width: 532px;
  height: 620px;
}

/*otp css start*/
.otp-input-fields {
  background-color: white;
  width: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.otp-input-fields input {
  height: 62px;
  width: 9vh;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  text-align: center;
  outline: none;
  font-size: 45px;
  /* Firefox */
}
.otp-input-fields input::-webkit-outer-spin-button,
.otp-input-fields input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.otp-input-fields input[type="number"] {
  -moz-appearance: textfield;
}
.otp-input-fields input:focus {
  border-width: 2px;
  border-color: var(--main-color);
  font-size: 45px;
}
/*otp css end*/

.ul-steps ul li .counter-step {
  width: 36px;
  height: 36px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white-color);
  border-radius: 50%;
  position: relative;
  z-index: 111;
}

.ul-steps ul li .counter-step span:last-child {
  display: none;
}

.ul-steps ul li .counter-step.active {
  background: var(--dark-color);
}

.ul-steps ul li .counter-step.active span:first-child {
  display: none;
}

.ul-steps ul li .counter-step.active span:last-child {
  display: block;
}

.ul-steps ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.ul-steps ul:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0p;
  height: 100%;
  width: 2px;
  background: var(--white-color);
}

.ul-steps ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: -16px;
}

/* - circle checkbox css - */
.round label {
  background-color: var(--light-gray);
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  width: 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 5px;
  left: 5px;
  opacity: 0.5;
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
  width: 9px;
}

.round input[type="checkbox"] {
  visibility: visible;
  opacity: 0.5;
}

.round input[type="checkbox"]:checked + label {
  background-color: var(--checkbox-color);
  border-color: var(--checkbox-color);
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

/*steps form css*/
.step {
  display: none;
}

.slideanimate {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

/*animation of css*/
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*steps form css end*/

.uploadimgdummy {
  width: 120px;
  height: 120px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50%;
}

.uploadimgdummy img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btnchek label {
  padding: 10px 16px;
  border-radius: 8px;
  background: var(--light-color-1);
}

.btnchek input:checked + label {
  background: var(--light-sky);
}
/*new css add*/
.checkblue {
  opacity: 0;
  visibility: hidden;
}
.btnchek1 label {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background: var(--white-color);
}

.btnchek1 input:checked + label {
  background: var(--light-sky);
}

.btnchek1 input:checked + label .checkblue {
  opacity: 1;
  visibility: visible;
}

.btnchek2 {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background: var(--white-color);
}

.active2 {
  background: var(--light-sky);
  border-color: var(--main-color);
}

.form-560 {
  width: 560px;
  max-width: 100%;
}

.hr-1 {
  opacity: 1;
  border-color: var(--border-color);
}
/*new css add end*/

/* ABDUR REHMAN CSS  */

.sidebar_list {
  padding: 8px 12px;
  height: 60vh;
  overflow-y: auto;
}
.side-bar {
  width: 260px;
  height: 100vh;
  background-color: #eafafc;
  overflow-y: hidden;
}
#page-content-wrapper {
  width: 100%;
}
#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
.sidebar_list .nav-item {
  border: none;
}
.sidebar_list .nav-item .nav-link {
  position: relative;
  font-weight: 400;
  line-height: 20px;
  padding: 10px 16px;
  border-radius: 5px;
  font-size: 14px;
  color: var(--gray-text) !important;
}

.sidebar_list .nav-item .nav-link.active {
  background-color: var(--white-color) !important;
  border: none;
  border-radius: 6px;
  color: var(--link-color) !important;
  font-weight: 500;
  line-height: 20px;
}

/*
.sidebar_list .nav-item .nav-link {
  padding: 12px 10px;
}*/

.custom_nav {
  padding: 16px 24px;
}

.custom_nav .nav-link img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.custom_nav .nav-link span {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: 600 !important;
  color: var(--white-color);
  letter-spacing: 0.5px;
}

.custom_nav_list .dropdown .dropdown-menu .dropdown-item a {
  font-family: "Inter", sans-serif;
  color: var(--black-color);
}

.h-overflow {
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.arrowupsdown.active,
.arrowupsdown-1.active {
  transform: rotate(180deg);
}

.customdrop::after {
  border: none !important;
  margin: 0px !important;
}

.arrow-circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-circle:hover {
  background-color: var(--orange-color);
  color: var(--gray-text);
}

.arrowdown::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: #3a3e52;
}

.arrowdown span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.cust-2 .nav-item .nav-link {
  width: 110px !important;
  height: 110px !important;
}
.brand-logo {
  padding: 12px 8px;
}

.brand-logo.staticActive img {
  width: 10rem;
  transition: 0.5s all;
}
.p-24 {
  padding: 24px;
}
.p-24t {
  padding-top: 24px;
}
.m-18 {
  margin: 18px 0px;
}
.bg-progress {
  background: linear-gradient(270deg, #2be3b7 0%, #53b1fd 100%);
}
.canvasjs-chart-credit {
  display: none !important;
}
.btn-box-shadow {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.h-500px {
  height: 89vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--link-color);
}

.scroll::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--light-color-1);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--light-color-1);
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: var(--link-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--link-color);
}

/*new css*/
.list-style-cs ul {
  padding-left: 20px;
}
.list-style-cs ul::before {
  content: "";
  position: absolute;
  left: 22px;
  top: 0px;
  height: 80%;
  background: var(--gray-2);
  width: 2px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.ul3::before {
  height: 85% !important;
}

.ul4::before {
  height: 90% !important;
}

.ul5::before {
  height: 88% !important;
}

.list-style-cs ul li {
  padding-left: 15px;
  position: relative;
}

.list-style-cs ul li::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 12px;
  height: 10px;
  background-image: url(../images/icons/before-line.png);
  background-size: 100% 100%;
  width: 15px;
  border-radius: 12px;
}

.list-style-cs ul li a {
  font-weight: 400;
  line-height: 20px;
  padding: 10px 16px;
  border-radius: 5px;
  font-size: 14px;
  color: var(--gray-text) !important;
  display: block;
}

.list-style-cs ul li a.active {
  background-color: var(--white-color) !important;
  border: none;
  border-radius: 6px;
  color: var(--link-color) !important;
  font-weight: 500;
  line-height: 20px;
}

.arrowdown-arr .myArrow1 {
  transform: rotate(0deg);
  transition: 0.5s all;
}

.arrowdown-arr.active3 .myArrow1 {
  transform: rotate(-180deg);
}

.arrowdown-arr.active3 p {
  color: var(--heading-color);
  font-weight: 500;
  line-height: 20px;
}

.arrowdown-arr.active3 img {
  filter: brightness(0.5);
}

.tab-cust .nav-item .nav-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--gray-text);
  border: 0px;
  border-bottom: 3px solid transparent;
  padding: 10px 16px;
}

.tab-cust .nav-item.show .nav-link,
.tab-cust .nav-link.active {
  background: transparent;
  border-bottom: 3px solid var(--link-color);
  color: var(--heading-color);
  font-weight: 500;
}

.table thead th {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: var(--gray-text);
}

.pill-cust {
  padding: 4px 12px;
  border-radius: 8px;
}

.pill-green {
  color: var(--pill-dark-green);
  background: var(--pill-light-green);
}
.pill-primary{
  color: var(--pill-prim-dark);
  background: var(--pill-prim-light);
}

.pill-red{
  color: var(--red-color);
  background: var(--pill-red-light);
}

.pill-bw {
  color: var(--pill-dark-bw);
  background: var(--pill-light-bw);
}

.dropdown-item.active,
.dropdown-item:active {
  background: var(--border-color);
  color: var(--heading-color);
}

.modal {
  background: var(--modal-bg);
  backdrop-filter: blur(3px);
}

.modalcust.fade .modal-dialog {
  transform: translate(200%, 0px) !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  height: 100% !important;
  align-items: unset;
}

.modalcust.show .modal-dialog {
  transform: translate(0%, 0px) !important;
}

.modalcust .modal-dialog {
  margin-right: unset !important;
}

.height-modal {
  height: 100vh;
  overflow-y: auto;
}

/*file css*/
.file-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  position: relative;
}

.file-icon {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  font-size: 20px;
}

.file-details {
  flex-grow: 1;
}

.file-name {
  margin-bottom: 5px;
}

.file-size {
  color: #888;
  font-size: 0.8em;
}

.remove-btn {
  cursor: pointer;
  color: #ff5555;
  font-size: 1.2em;
  margin-left: 10px;
}

.remove-btn {
  position: absolute;
  right: 0px;
}

.icon-cs {
  padding: 10px;
  background: var(--surface-surface-gray);
  border-radius: 8px;
}

/* --------------------------------ABDUR REHMAN STYLING--------------------------------------  */
.p-16-tb {
  padding: 16px 0px;
}
.fw-500 {
  font-weight: 500;
}
.fw-400 {
  font-weight: 400;
}
.fw-600 {
  font-weight: 600;
}
.gap-120 {
  gap: 120px;
}
.pt-6 {
  padding-top: 6px;
}
#sales-cost-chart,
#net-income-chart,
#expense-chart,
#salesByItem-chart,
#sales-by-category,
#salesByStores-chart,
#sales-by-cashier,
#sales-forecast {
  width: 100%;
  height: 500px;
}
.p-16b {
  padding-bottom: 16px;
}
.p-20tb {
  padding: 20px 0px;
}
.p-20lr {
  padding: 0px 20px;
}
.p-20lr-16tb {
  padding: 16px 20px;
}
.p-12tb {
  padding: 12px 0px;
}
.m-12tb {
  margin: 12px 0px;
}
.p-8 {
  padding: 8px;
}
.p-4tb {
  padding: 4px 0px;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: var(--checkbox-color) !important;
  border-color: transparent !important;
  color: var(--white-color) !important;
}
.cancelBtn {
  padding: 8px 16px !important;
  border-radius: 8px;
  border: 1px solid var(--border-border-primary) !important;
  background: var(--white-color) !important;
  box-shadow: 0px 1px 2px 0px var(--box-shadow-color) !important;
}
.applyBtn {
  background-color: var(--link-color) !important;
  padding: 8px 16px !important;
  color: var(--white-color) !important;
  border: none !important;
  border-radius: 8px !important;
}
.daterangepicker .ranges li.active {
  background-color: var(--checkbox-color) !important;
  color: var(--white-color) !important;
  border-radius: 50% !important;
}
.daterangepicker td.active,
.daterangepicker td.active {
  border-radius: 50% !important;
  color: var(--white-color);
}
.daterangepicker td.in-range {
  background-color: var(--bg-color-daterange) !important;
  border-color: transparent !important;
  color: var(--black-color) !important;
  border-radius: 50% !important;
}
.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
  padding: 4px !important;
}
.profile-ul {
  width: 280px;
  padding: 8px !important;
  gap: 4px;
}

/* ALI ABBAS CSS */

.bg-light-grey {
  background-color: var(--light-color-1);
}


.pad-10-360 {
  padding: 10px 360px;
}

.pad-8-16 {
  padding: 8px 16px;
}

.pad-17-16 {
  padding: 17px 16px;
}

.message-card {
  height: 520px;
}

.mt-12 {
  margin-top: 12px;
}

.me-12 {
  margin-right: 12px;
}
.ms-12 {
  margin-left: 12px;
}

.btn-box-shadow {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.pad-8 {
  padding: 8px;
}

.fw-600-20 {
  font-weight: 600;
  line-height: 20px;
}

.fw-500-18 {
  font-weight: 500;
  line-height: 18px;
}

.fw-500-16 {
  font-weight: 500;
  line-height: 16px;
}

.fw-400-16 {
  font-weight: 400;
  line-height: 16px;
}

.pad-14 {
  padding: 14px;
}

.badge-background {
  background-color: var(--checkbox-color);
}

.chat-background {
  background-color: var(--light-sky);
}
.pad-2 {
  padding: 1px 3px;
}
.fs-10 {
  font-size: 10px;
}
.mb-border {
  margin-bottom: 7px;
}
.incoming-chat {
  background-color: var(--dark-color);
  border-radius: 10px 10px 10px 0px;
}
.incoming-chat-text {
  color: #ffffff;
}
.pad-10 {
  padding: 10px;
}
.date-line {
  width: 380px;
}
.outgoing-chat {
  border-radius: 10px 0px 10px 10px;
}
.bg-send {
  background-color: var(--link-color);
}

#chat {
  display: none;
}
#no-chat {
  display: block;
}
.chat-contacts {
  overflow-y: scroll;
}
.chat-box {
  overflow-y: scroll;
}
.select-sales-report {
  width: 65%;
}
.bg-grey-head {
  background-color: var(--border-color);
}
.tr-report-sale {
  height: 72px;
  width: 100%;
}
.td-report-sale {
  padding: 0px 12px !important;
}
.purchase-select{
  width: 18%;
}
/*====================================================== media querry ======================================================*/
