:root {
  --main-bg-color: #25293c;
  --white-color:#ffffff;
  --blue-color:#1E3672;
  --orange-color:#F8C10C;
  --black-color:#000;
  --bg-light-orange: rgba(248, 193, 12, .2);
}

.primary-text {
  color: var(--white-color);
}

.text-orange{
  color: var(--orange-color);
}

.text-blue{
  color: var(--blue-color);
}

.bg-light-orange{
  background-color: var(--bg-light-orange);
}

.bg-blue-color {
  background-color: var(--blue-color);
}

.primary-bg {
  background-color: var(--blue-color) !important;
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.bg_orange{
  background-color: var(--orange-color);
}

.badge_orange_bg{
  background-color: #ffffff;
}
.rounded-full {
  border-radius: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(../images/calendar-b.png) no-repeat;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
}

#wrapper {
  overflow-x: hidden;
  background-color: #fff !important;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 1rem 0rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .sidebar_list {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.sidebar_list .nav-item {
  border: none;
}
.sidebar_list .nav-item .nav-link {
  color: var(--blue-color)!important;
  font-size: 1rem;
  position: relative;
}

.sidebar_list .nav-item .nav-link.active {
  background-color: var(--blue-color) !important;
  border: none;
  color: #ffffff !important;
/*  border-radius: 0.2rem;*/
}

.sidebar_list .nav-item .nav-link{
  padding: 12px 10px;
}



.custom_nav{
  padding: .8rem 0.5rem;
}

.custom_nav .nav-link img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.custom_nav .nav-link span{
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: 600 !important;
  color: #ffffff;
  letter-spacing: 0.5px;
}

.custom_nav_list .dropdown .dropdown-menu .dropdown-item a{
  font-family: 'Inter', sans-serif;
  color: #000000;
}


.active>.page-link, .page-link.active{
  background-color: var(--bg-light-orange) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none !important;
  border: none !important;
}
.active>.page-link, .page-link{
  background-color: var(--orange-color);
  color: #fff;
  margin: 0 2px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none !important;
  border: none !important;
}



.fs-12{
  font-size: 12px;
}

.fs-13{
  font-size: 13px !important;
}
.fs-14{
  font-size: 14px !important;
}

.fs-10{
  font-size: 10px;
}

::-webkit-scrollbar
{
  width: 5px;
  height: 5px;
  background-color: gray !important;
}

::-webkit-scrollbar-thumb
{
  background-color: var(--blue-color);
}




.page-item .page-link {
    border-radius: 50%;
    width: 30px;
    display: flex;
    justify-content: center;
    height: 30px;
    background-color: var(--bg-light-orange);
    border: none;
    color: var(--blue-color) !important;
}


.h-overflow{
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.arrowupsdown.active,
.arrowupsdown-1.active{
  transform: rotate(180deg);
}

.customdrop::after{
  border: none !important;
  margin: 0px !important;
}

.arrow-circle{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-circle:hover{
  background-color: var(--orange-color);
  color: #fff;
}

.arrowdown::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: #3A3E52;
}

.arrowdown span{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 10px;
}


.cust-2 .nav-item .nav-link{
  width: 110px !important;
  height: 110px !important;
}

.iconcircle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--orange-color);
  padding: 15px;
  margin: 0 auto;
}

.btncust{
  width: 130px;
  white-space: nowrap;
  border-radius: 5px;
}

.ms-selectall{
  text-transform: capitalize !important;
}


input[type='datetime-local']::-webkit-calendar-picker-indicator{ 
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(../images/calendar-b.png) no-repeat;
    width: 25px;
    height: 25px;
    border-width: thin

}

.size{
  width: 20px;
}
.circle-upload{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 3px dashed var(--orange-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
/*customized modal open from right side css (end)*/


.btn-main{
  background: var(--orange-color);
  color: #fff;

}

.btn-main:hover,
.btn-main:focus,
.btn-main:active{
  background: transparent !important;
  color: var(--orange-color) !important;
  border: 1px solid var(--orange-color) !important;
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
  border: 1px solid var(--orange-color);
}

.bg-orange{
  background-color: #f89321 !important;
}
.btnCust-1{
  position: relative;
    font-size: 13px;
    line-height: 24px;
    padding: 10px 30px;
    font-weight: 700;
    letter-spacing: 0.1em;
    overflow: hidden;
    color: #ffffff;
    border-radius: 50px;
    z-index: 1;
    background: var(--blue-color);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    display: inline-block;
    white-space: nowrap;
/*    min-width: 200px !important;*/
    border: 1px solid var(--blue-color);
}

.btnCust-1:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-color: var(--orange-color) !important;
  -webkit-clip-path: polygon(50% 0, 50% 0, 50% 50%, 50% 100%, 50% 100%, 50% 50%);
  clip-path: polygon(50% 0, 50% 0, 50% 50%, 50% 100%, 50% 100%, 50% 50%);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: -1;
}

.btnCust-1:hover{
  color: #fff;
}

.btnCust-1:hover:before {
  -webkit-clip-path: polygon(25% -70%, 75% -70%, 120% 50%, 75% 170%, 25% 170%, -20% 50%);
  clip-path: polygon(25% -70%, 75% -70%, 120% 50%, 75% 170%, 25% 170%, -20% 50%);
}

.bg-blue-color {
  background-color: var(--blue-color);
}

.card-c{
  border-radius: 8px;
  padding: 28px;
}

.border-orange{
  border: 1px solid var(--orange-color);
}

.size-icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  background-color: var(--bg-light-orange);
}

.size-icon-1{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}

.size-icon-1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.table thead th{
  padding: 12px 14px;
  padding-right: 20px !important;
  font-size: 14px;
}

.table tbody td{
  padding: 10px 14px;
  font-size: 13px;
}

.dataTables_filter input{
    height: 45px;
    width: 190px !important;
    border-radius: 26px;
    padding: 12px 20px;
    margin-bottom: 10px;
}

.circlewhite{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}


.noti-ul2 {
    width: 17rem;
}

.dropact .dropdown-item.active, .dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: var(--blue-color);
}

.sidebar_list .nav-item .nav-link span{
  width: 40px;
}


.sidebar_list .nav-item .nav-link span img{
  width: 20px;
}


.border-end-blue{
  border-right: 1px solid var(--blue-color);
}

.border-bottom-blue{
  border-bottom: 1px solid var(--blue-color);
}


.box-area{
    width: 600px;
}
.right-box{
    padding: 0px 30px 40px 40px;
}

.cust-input-1 {
    padding: 13px 15px !important;
    font-size: 13px;
/*    background-color: #f4f5f8;*/
    border: 1px solid var(--blue-color) !important;
    position: relative;
    border-radius: 0px;
    margin-top: 5px;
    z-index: 1;
}

.iconcircle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed var(--orange-color);
    padding: 15px;
    margin: 0 auto;
}

/*customized modal open from right side css (start)*/
.modalcust.fade .modal-dialog {
    transform: translate(200%, 0px) !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    height: 100% !important;
    align-items: unset;
}

.modalcust.show .modal-dialog {
    transform: translate(0%, 0px) !important
}

.modalcust .modal-dialog{
  margin-right: unset !important;
}
/*end*/

.w50{
  width: 60px;
  border-radius: 50%;
  height: 60px;
  object-fit: cover;
}

.w-200{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.custnavtb .nav-link{
  color: var(--black-color);
}

.custnavtb .nav-item.show .nav-link, .custnavtb .nav-link.active{
  background-color: var(--blue-color);
  color: var(--white-color);
}



.uploadimgdummy{
  width: 120px;
  height: 120px;
}

.uploadimgdummy img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.editicon{
  position: absolute;
  right: -10px;
  top: 15px;
  border-radius: 50%;
  background: var(--light-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.truncate-w{
  width: 100%;
  text-align: justify;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical; 

}

.w-30px{
  width: 30px;
}

.w-40px{
  width: 40px;
}

.pad{
  padding: 12px;
}

.h-8{
  height: 8px;
}


/*new css project owner profile*/
.truncate-2{
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.truncate-3{
  width: 260px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.truncate-4{
   overflow: hidden;
  max-width: 400px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 20px auto;
}

.h-s{
  height: 150px;
  object-fit: cover;
  width: 100%;
}

.cust-pill .nav-link{
  height: 60px;
  color: var(--black-color);
  border-radius: 0px;
}

.cust-pill .nav-link.active, .cust-pill .show>.nav-link{
  background-color: var(--blue-color);
}

.border-blue{
  border: 1px solid var(--blue-color) !important;
}

.top-action{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 0px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: var(--orange-color);
  transition: .5s all;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  flex-direction: column;
}

.top-action a{
  padding: 0.375rem 0.75rem;
  display: block;
}

.cardcs:hover{
  border-color: var(--orange-color) !important;
}

.cardcs:hover .top-action{
  height: 70px;
}

.blog-sz img{
  height: 160px;
  width: 100%;
  object-fit: cover;
  transition: 1s all;
}

.cardn{
  transition: .5s all;
  overflow: hidden;
}

.cardn .blog-sz{
  overflow: hidden;
}

.cardn:hover{
  border-color: var(--orange-color);
}

.cardn:hover img{
  transform: scale(1.2);
}

.step {
    display: none;
}

#myForm{
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
}

.multiple-optn ul li a{
    padding: 12px 10px;
    border: 2px solid transparent;
    color: var(--blue-color);
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    font-weight: 500;
    font-size: 13px;
}

.multiple-optn ul li a img{
  width: 24px;
}

.multiple-optn ul li a.active{
  border-color: var(--blue-color);
}

.multiple-optn1 ul li a{
    padding: 12px 10px;
    border: 1px solid var(--blue-color);
    color: var(--blue-color);
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    font-weight: 500;
    font-size: 13px;
    justify-content: center;
}

.multiple-optn1 ul li a img{
  width: 24px;
}

.multiple-optn1 ul li a.active{
  background-color: var(--blue-color);
  color: var(--white-color);
}


.multiple-optnone ul li a{
    display: block;
    padding: 8px 20px;
    border: 1px solid var(--blue-color);
    color: var(--blue-color);
    margin-bottom: 8px;
    text-align: center;
    border-radius: 50px;
    font-size: 14px;
}

.multiple-optnone ul li a.active{
  background-color: var(--blue-color);
  color: var(--white-color);
}

/*new cs*/
.dt-row{
  display: block;
  overflow-x: auto;
  width: auto;
}

.border-orange-color{
  border-color: var(--orange-color) !important;
}

.text-justify{
  text-align: justify;
}

input:focus{
  outline: none;
}

textarea:focus{
  outline: none;
}

.truncate-sm-c {
    overflow: hidden;
    max-width: 400px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: 20px auto;
}

.multiple-optnone ul li button {
    display: block;
    padding: 8px 20px;
    background-color: transparent;
    border: 1px solid var(--blue-color);
    color: var(--blue-color);
    margin-bottom: 8px;
    text-align: center;
    border-radius: 50px;
    font-size: 14px;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--blue-color);
}
.multiple-optnone ul li button.active {
    background-color: var(--blue-color);
    color: var(--white-color);
}

.pillcust img{
  width: 24px;
}

.pillcust .nav-link{
  padding: 12px 10px;
  font-weight: 500;
  border: 2px solid var(--white-color);
}

.pillcust .nav-link.active, .pillcust .show>.nav-link {
    color: var(--blue-color);
    background-color: var(--white-color);
    border-color: var(--blue-color);
}

.pad-ci {
    padding: 5px;
}

/*steps form css*/
.indicator{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--blue-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 13px;
  position: relative;
}

#indicator .indicator:not(:last-child):after{
  content: '';
  position: absolute;
  top: 18px;
  left: 35px;
  background-color: var(--blue-color);
  width: 100%;
  height: 1px;
}


.indicator.active{
  background-color: var(--orange-color);
}

.height-fix{
  height: 600px;
  overflow-y: auto;
}

/* -------- ABDUR REHMAN STYLING ----------  */

.form-check-input:checked{
  background-color: var(--orange-color);
  border-color: var(--orange-color);
}

.form-check-input:focus{
  border-color: var(--orange-color);
  box-shadow: none;
}
::-webkit-file-upload-button {
  display: none;
}
.bg_grey{
  background-color: #EFF3F6;
}
/*==========================================================media querry==========================================================*/

@media only screen and (max-width: 768px){
     .box-area{
        margin: 0 10px;
     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
}

@media (max-width: 500px){
  .right-box{
      padding: 0px;
   }
}

@media (max-width: 1199px){
  .table thead th {
        padding-right: 30px !important;
    }
}

@media (min-width: 1200px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}